body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.rotatedRectBackground {
  height: 100vh;
  width: 200vw;
  background-color: #f8f9fa;
  position: fixed;
  transform: rotate(-30deg) translate(20vw, -40vh);
  z-index: -1;
  border-radius: 2rem;
}
