.light-button-shadow {
  box-shadow: inset -2px -2px 4px 0px rgba(209, 205, 199, 0.5), inset 2px 2px 4px 0px rgba(255, 255, 255, 0.5);
  border-radius: 100%;
}

.light-pressed-button-shadow {
  box-shadow: inset -3px -3px 8px 0px rgba(255, 255, 255, 0.5), inset 3px 3px 8px 0px rgba(209, 205, 199, 0.5);
  border-radius: 100%;
}

.colored-button-shadow {
  box-shadow: inset -2px -2px 4px 0px rgba(0, 0, 0, 0.2), inset 2px 2px 4px 0px rgba(255, 255, 255, 0.2);
  border-radius: 100%;
}

.colored-pressed-button-shadow {
  box-shadow: inset -2px -2px 4px 0px rgba(255, 255, 255, 0.2), inset 2px 2px 4px 0px rgba(0, 0, 0, 0.2);
  border-radius: 100%;
}
